{% extends 'main/base.html' %}

{% block title %}
Bite Express
{% endblock %}

{% block content %}
<div class="max-w-[1180px] mx-auto flex justify-between">
    <div class="block">
        <div class="w-[300px] bg-orange-50 rounded-3xl block">
            <button class="w-[100%] h-[50px] bg-black rounded-t-3xl text-white">
                Картошка
            </button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black text-white">Картошка</button>
            <button class="w-[100%] h-[50px] bg-black rounded-b-3xl text-white">Картошка</button>
        </div>
    </div>
    <div class="block">
        <h1 class="font-bold text-amber-950 text-[55px]">Новинки</h1>
        <div class="grid grid-cols-3 gap-4">
            <div class=" w-[250px] bg-orange-50 rounded-2xl">
                <img class="w-[75%] mx-auto mt-2" src="https://orderapp-static.burgerkingrus.ru/x256/mobile_image/7d5a965ff6212dc44bc39fe635e32d47.webp" alt="">
                <h1 class="text-amber-950 font-extrabold m-2">Воппер Сибирский</h1>
                <div class="flex justify-between m-2">
                    <p class="text-amber-950 font-bold">339.99 ₽</p>
                    <button class="text-white font-bold bg-orange-500 rounded-3xl p-2">Заказать</button>
                </div>
            </div>
            <div class=" w-[250px] bg-orange-50 rounded-2xl">
                <img class="w-[75%] mx-auto mt-2" src="https://orderapp-static.burgerkingrus.ru/x256/mobile_image/7d5a965ff6212dc44bc39fe635e32d47.webp" alt="">
                <h1 class="text-amber-950 font-extrabold m-2">Воппер Сибирский</h1>
                <div class="flex justify-between m-2">
                    <p class="text-amber-950 font-bold">339.99 ₽</p>
                    <button class="text-white font-bold bg-orange-500 rounded-3xl p-2">Заказать</button>
                </div>
            </div>
            <div class=" w-[250px] bg-orange-50 rounded-2xl">
                <img class="w-[75%] mx-auto mt-2" src="https://orderapp-static.burgerkingrus.ru/x256/mobile_image/7d5a965ff6212dc44bc39fe635e32d47.webp" alt="">
                <h1 class="text-amber-950 font-extrabold m-2">Воппер Сибирский</h1>
                <div class="flex justify-between m-2">
                    <p class="text-amber-950 font-bold">339.99 ₽</p>
                    <button class="text-white font-bold bg-orange-500 rounded-3xl p-2">Заказать</button>
                </div>
            </div>
            <div class=" w-[250px] bg-orange-50 rounded-2xl">
                <img class="w-[75%] mx-auto mt-2" src="https://orderapp-static.burgerkingrus.ru/x256/mobile_image/7d5a965ff6212dc44bc39fe635e32d47.webp" alt="">
                <h1 class="text-amber-950 font-extrabold m-2">Воппер Сибирский</h1>
                <div class="flex justify-between m-2">
                    <p class="text-amber-950 font-bold">339.99 ₽</p>
                    <button class="text-white font-bold bg-orange-500 rounded-3xl p-2">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

